# Python Fundamentals - part I

The notebook intends to cover the following topics:
1. I/O functions
2. Data types / Variables
3. String operations and formatting
4. Arithmetic operations
5. Introduction to lists

In [1]:
print("Hello World!")

Hello World!

In [2]:
input()

data science

'data science'

In [3]:
a = 5
if a == 5:
    # 4 indented spaces to this block of code
    print("a equals 5")

a equals 5

In [4]:
myString = 'hello world'
print(type(myString))

<class 'str'>

In [5]:
n = 10
print(type(n))

<class 'int'>

In [7]:
n_float = 7.5
print(type(n_float))

<class 'float'>

In [11]:
single_string = 'Its a single quote string'
print(single_string)

SyntaxError: invalid syntax (<ipython-input-11-dbe7c6e4d27f>, line 1)

In [13]:
double_string = "It's a double quote string"
print(double_string)

It's a double quote string

In [14]:
n1 = 5
n2 = 7.5
print(n1+n2)

12.5

In [18]:
nstr1 = "abc"
print(nstr1 + n1)

TypeError: can only concatenate str (not "int") to str

In [19]:
nstr2 = "def"
print(nstr1 + nstr2)

abcdef

In [23]:
n1, n2 = 10, 11

In [24]:
n1

10

In [25]:
n2

11

In [27]:
result = 3 + 4.0 / 2 * 5  # DMAS
print(result)

13.0

In [28]:
# module operator %
remainder = 17%10
print(remainder)

7

In [29]:
# x ^ n
x = 5
n = 4
print(x ** n)

625

In [31]:
nstr = "abc"
ans = nstr * 10

In [32]:
print(len(ans))

30

In [39]:
name = "Harshit"
print("%s is a data scientist!" %name)

Harshit is a data scientist!

In [40]:
name.upper()

'HARSHIT'

In [41]:
name.lower()

'harshit'

In [42]:
nstr = "it is a nice day today."
nstr.capitalize()

'It is a nice day today.'

In [44]:
name.index('s')

3

In [45]:
name[2:5]

'rsh'

In [46]:
name[2:6:2]

'rh'

In [47]:
alist = [3,4,5]
print(alist)

[3, 4, 5]

In [48]:
alist = ['harshit', 2, 5.5]
print(alist)

['harshit', 2, 5.5]

In [49]:
alist.append(10)
alist.append(15)
print(alist)

['harshit', 2, 5.5, 10, 15]

In [50]:
alist.pop()
print(alist)

['harshit', 2, 5.5, 10]

In [53]:
alist[3]

10

In [54]:
alist[1:]

[2, 5.5, 10]

In [55]:
alist.append([1,2,3])
print(alist)

['harshit', 2, 5.5, 10, [1, 2, 3]]

In [56]:
alist*2

['harshit', 2, 5.5, 10, [1, 2, 3], 'harshit', 2, 5.5, 10, [1, 2, 3]]

In [57]:
alist + alist

['harshit', 2, 5.5, 10, [1, 2, 3], 'harshit', 2, 5.5, 10, [1, 2, 3]]